/* Основное */

:root {
    --my-dark-blue: #0D307D;
    --my-light-blue: #0D8EB0;
    --my-green: #B1D809;
    --my-yellow: #F7D90F;
    --my-red: #F3590D;
    --font-white: #fff;
}

*{
    font-family: "inter", Arial, Helvetica, sans-serif;
}

/* Наверное оно зачем то нужно
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

/* Блоки */

body{
    margin: 0%;
}

main{
    margin: 20px;
}

.hidden {
    display: none;
  }

/* Элементы */

.bold{
    transition: 100ms;
    font-weight: bolder
}

button{
    background-color: var(--my-dark-blue);
    color: var(--font-white);
    font-size: medium;
    border-radius: 19px;
    padding: 10px 15px 10px 15px;
    border: 0;
}

button:hover{
    transition: 100ms;
    cursor: pointer;
    background-color: var(--my-light-blue);
}

/* Header */
header{
    background-color: var(--my-dark-blue);
    height: 55px;
    padding-left: 35px;
    cursor: default;
    position: relative;
}

header:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.container-link{
    display: inline-block;
    vertical-align: middle;
}

.header-link{
    color: var(--font-white);
    text-decoration: none;
    font-size: larger;
    margin-left: 13px;
    margin-right: 10px;
}

.header-link:hover{
    color: var(--my-light-blue);
}

.vr{
    display: inline;
    height: 40px; 
    width: 0px; 
    border-left: 3px solid var(--font-white);
}

/* Rules */

.rule-div{
    border-radius: 10px;
    background-color: lightgrey;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.rule-div:hover{
    transition: 150ms;
    border-color: var(--my-dark-blue);
    border-style: solid;
}

/* Tests */


.category-div-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
}

.category-div-item{
    background-color: lightgray;
    min-width: 250px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    height: 80px;
    border-style: solid;
    border-color: lightgray;
    position: relative;
}

.category-div-item-active{
    transition: 300ms;
    background-color: var(--my-dark-blue);
    color: var(--font-white);
    border-color: var(--my-dark-blue);
}

.category-div-item:hover{
    border-style: solid;
    border-color: var(--my-dark-blue);
}

.category-item-h3{
    margin-top: 0px;
}
.category-item-p{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 13px;
}

.settings-div{
    position: relative;
    display: flex;
    align-items: center;
}

.item-settings{
    display: inline;
}

.count-word-btn{
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0px;
}